.MuiAppBar-colorPrimary{
    background: #f79c0d !important;
}

/* Stack(
    children: [
        Stack
    ]
)(
    children: [
        #appBar{
            background-color: re;
        }
    ]
) */