.login_div{
    width: 24rem;
    margin-top: 15%;
    padding: 1%;
    border-radius: 7px;
    background: white;
}

.sign_in_section{
    width: 100%;
    margin-top: 5%;
}

.Login_field{
    width: 18rem;
}

body{ 
    /* background-size: cover; */
    /* background: url('../../../../media/images/material_background.jpg'); */
    /* background-color: green; */
    background-size: cover;
}