.span_header{
    font-family: monospace;
    font-style: normal;
}
.dark_blue_header{
    color: #19417d;
    font-weight: 500;
}

#user_profile_img_icon{
    background: pink;
    width: 6rem;
    height: 6rem;
    font-size: 4rem;
    margin: auto;
    font-family: sans-serif;
    vertical-align: middle;
}

.field_name{
    color: #949494;
}

.field_value{
    color: black;
    font-weight: 400;
}

.row{
    padding: 1rem;
}