.MuiAppBar-colorPrimary{
    background: #ffffffe6 !important;
    color: black !important;
}

.MuiPaper-elevation4{
    box-shadow: 0px 2px 4px -1px rgba(224, 224, 224, 0.2), 0px 4px 5px 0px rgba(138, 138, 138, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.MuiDrawer-paper{
    background: #ffffffb8 !important;
    color: black !important; 
}
/* Stack(
    children: [
        Stack
    ]
)(
    children: [
        #appBar{
            background-color: re;
        }
    ]
) */